# Python artifacts
**/__pycache__/
*.pyc

# Jupyter
*.ipynb
.ipynb_checkpoints/

# Swap files
*.swp

# TAPruning outputs
*_by_TAPruning/

# Style classifiers
**/style_classifiers/

# Pretrained models
**/roberta/
**/roberta_large/
**/roberta-large/
**/llama3/

# Generated prompts
**/ICLPrompts_Unpruned/
**/PrunedPrompts_by_PromptQuine/
**/PrunedPrompts_by_TAPruning/
**/others/
**/outputs/